body {
	color: white;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	background-color: black;
	background-image: url('https://check-tbc.fr/assets/images/background.png');
	background-repeat: no-repeat;
}
